/* .forgotpass-content {
    background-color: rgb(27,160,226);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgotpass-container {
    box-sizing: content-box;
    width: 500px;
    padding: 40px;
}

.forgot-pass {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 435px;
}

.forgotpassreq-container {
    box-sizing: content-box;
    width: 500px;
}

.forgot-form {
    height: 100%;
    background-color: white;
    padding: 15px 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.forgot-label {
    /* display: block; 
    border-bottom: 1px solid black;
}

.forgot-label p {
    font-size: 30px;
    font-weight: 500;
}

.forgot-input span {
    font-size: 20px;
}

.forgot-input {
    padding: 10px 0;
}

.forgot-form input {
    width: 100%;
    font-size: 20px;
}

.forgot-sbt {
    text-align: center;
    margin: 10px 0;
}

.forgotreq-sbt {
    justify-content: flex-end;
    text-align: center;
    margin: 10px 0;
}

.forgot-submit-btn {
    font-size: 25px;
    font-weight: 500;
    border: none;
    background-color: dodgerblue;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
    width: 100%;
    height: 10%;
    padding: 5px 0;
}  
 */

.forgotpass-content {
    background-color: rgb(27,160,226);
    width: 100%;
    height: 100%; /* Use viewport height to ensure it covers the screen */
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgotpass-container {
    box-sizing: content-box;
    width: 500px;
    padding: 40px;
}

.forgotpassreq-container {
    box-sizing: content-box;
    width: 500px;
    padding: 40px;
}

.forgot-pass {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
}

.forgot-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color: white;
    padding: 15px 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.forgot-label {
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    border-radius: 5px;
}

.forgot-label p {
    font-size: 30px;
    font-weight: 500;
}

.forgot-input span {
    font-size: 20px;
}

.forgot-input {
    padding: 5px 0;
}

.forgot-form input {
    width: 100%;
    font-size: 20px;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid rgba(112, 111, 111, 0.628);
}

.forgot-input p.input-email {
    justify-content: left;
    width: 100%;
    font-size: 20px;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid rgba(112, 111, 111, 0.628);
}

.forgotreq-sbt {
    display: flex;
    justify-content: center;
    margin-top: auto; 
}

.forgot-submit-btn {
    font-size: 25px;
    font-weight: 500;
    border: none;
    background-color: dodgerblue;
    color: white;
    border-radius: 5px;
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
}
