
footer {
    background-color: #1c2930;
  }
  .footer {
    flex-shrink: 0; /* Don't shrink footer when content is short */
    margin-top: auto; /* Push footer to bottom */
    margin-right: 20px;
    padding-bottom: 20px;
    padding: 20px 0; /* Adjust padding as needed */
    /* text-align: center; Align content in the center */
    min-height: 500px;
    min-width: 100% !important;
  }
  .footer-horizontal-line {
    border-top: 1px solid #dee2e6; /* Softer color with increased thickness */
    display: flex;
    align-items: center; /* Vertical alignment */
    margin: auto;
    text-align: center;
    margin-top: 100px;
    min-width: 100% !important;
    max-width: 100% !important;
    margin-bottom: 20px;
  }
  .footer-title {
    font-size: 14px;
    font-weight: bold;
    /* font-weight: 800px; */
    text-align: start;
    color: white;
    justify-content: start;
    margin-top: 30px;
  }
  .footer-items {
    text-align: start;
    margin-top: 12px;
    font-size: 14px;
    color: lightgray;
    display: flex;
    align-items: center;
    justify-content: start;
  }
  .footer-items:hover {
    color: white;
    text-decoration: underline;
  }
  .copyright {
    color: white;
  }
  hr {
    color: gray;
  }