@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-size: 62.5%;
    font-size: 15px;
    /* background-image: url(https://images.unsplash.com/photo-1600858388785-d51024fb8f04?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); */
    
}

/* =============================================== HOME ======================================================= */
.main-content{
    width: 100%;
    margin: 0;
    background-image: url(https://images.unsplash.com/photo-1468774871041-fc64dd5522f3?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.container-fluid-home {
  margin: 0;
  padding-top: 90px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.35);
}

.home-content{
  margin: 0;
  padding-bottom: 200px;
  padding-top: 180px;
}

.home-text h1{
    font-size: 40px;
    text-align: center;
    overflow: hidden;
    padding: 10px;
    color: white;
}

.search-bar{
  text-align: center;
  padding: 10px;
  margin-bottom: 40px;
}

.input-search{
  width: 40%;
  padding: 20px 30px 20px 30px;
  border: 2px solid white;
  border-radius: 50px;
  font-size: 35px;
  font-family: inherit;
}

.tab-service {
  width: calc(100% - 370px);
  padding: 50px 0 ;
  height: auto;
  display: flex;
  margin-left: 185px; 
  margin-right: 185px;
  box-sizing: border-box;
  justify-content: space-between;
}

.tab-service button {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  border: 2px solid white;
  border-radius: 30px;
  background: none;
  color: white;
  font-family: inherit;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  white-space: normal;
  text-align: center;
  line-height: 1.2;
  flex: 1 1 200px;
}

.tab-service button:hover {
  background-color: white;
  border-radius: 30px;
  color: #1ba0e2;
  border-color: #1ba0e2;
}

/* =============================================== RECOMMEND ======================================================= */

.recommend-content{
  padding: 20px 0 50px 0;
  border-radius: 50px 50px 0 0;
  background-color: white;
}

.promo-text h1 {
  margin: 30px 0 30px 40px;
  font-size: 30px;
}

.promo-img {
  margin: 30px 40px 30px 40px;
}

.promo-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}


