/* =============================================== NAVBAR ======================================================= */
/* Navbar section */

.nav {
  width: 100%;
  position: fixed; 
  top: 0;
  padding: 15px 0 15px 0;
  line-height: 30px;
  text-align: center;
  z-index: 1000; 
  /* box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1); */
  transition: background-color 0.3s ease;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  display: flex;
  align-items: center;
  padding-left: 3rem;
}

.header-title a {
  text-decoration: none;
  color: #111;
  font-size: 25px;
  font-weight: 600;
}

.header-list {
  display: flex;
  align-items: center;
  text-align: right;
  /* height: 65px;
  margin-right: auto;
  float: right; */
}

.header-list ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
}

.header-list ul li {
  padding-right: 1rem;
}

/* .main-list {
  height: 65px;
  position: fixed; 
  overflow: hidden;
  top: 65px; 
  left: 0;
  right: 0;
  z-index: 1000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  white-space: nowrap;
}

.main-list ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: left;
}

.main-list ul li {
  padding-left: 71px;
  padding-right: 75px;
} */

.nav .header-list ul li a{
    padding: 12px 18px 12px 18px;
}

.nav ul li a {
  text-decoration: none;
  color: #111;
  padding: 10px;
  line-height: 65px;
  font-size: 20px;
  font-weight: 600;
}

.nav .header-list ul li a:hover {
  background-color: rgba(104, 104, 104, 0.226);
  border-radius: 10px;
  /* border: 1px solid black; */
}

.nav ul li a.active{
    background-color: dodgerblue;
    color: white;
    border-radius: 15px;
}

.nav ul li a.outline{
    border-radius: 15px;
    color: black;
    border: 1px solid black;
    outline-style: none;
}

.nav ul li a.outline:hover{
  color: white;
  border: 1px solid white;
  background-color: black;
  border-radius: 15px;
}

.nav ul li a.active:hover{
  color: white;
  border: 1px solid white;
  background-color: rgb(0, 109, 218);
  border-radius: 15px;
}

.icon {
  display: none;
  color: #111;
}

li.dropdown-navbar {
  display: inline-block;
}

.dropdown-content-navbar {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  border-radius: 15px;
  width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1001;
}

.dropdown-content-navbar a {
  color: black;
  margin: 10px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content-navbar a:hover {
  background-color: rgba(14, 2, 2, 0.162)!important;
}

.dropdown-navbar:hover .dropdown-content-navbar {
  display: block;
}

@media screen and (max-width: 1024px) {
  .header-list ul {
      display: none;
      flex-direction: column;
      align-items: flex-start;
  }

  .header-list ul li .icon {
    float: right;
    display: block;
    color: #111;
    cursor: pointer;
  }

  .header-list ul.responsive {
      display: block;
  }

  .header-list ul.responsive li {
      float: none;
      display: block;
      text-align: left;
  }
}

/* ========================================= LANGUAGE MODAL ================================================== */
.nav div.modal {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform:translate(-50%,-50%);
  width:700px;
  z-index: 1002;
}

.nav div.language-modal-content {
  display: flex;
  flex-direction: column;
  background-color: #fefefe;
  justify-content: space-between;
  margin: 15% auto;
  padding: 20px;
  width: 90%;
  max-height: 500px;
  border-radius: 10px;
  font-size: 30px;
  font-weight: 500;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 0px;
  overflow: hidden;
}

.nav div.left-side {
  flex: 1; 
  margin-right: 10px; 
}

.nav div.right-side {
  flex: 1; 
  margin-left: 10px;
}

.nav .button-list{
  margin-top: 30px;
}

.nav .button-list button{
  display: block;
  border: none;
  background-color: white;
  border-radius: 15px;
  font-size: 20px;
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
}

.nav .button-list button:hover{
  border: none;
  background-color: rgba(14, 2, 2, 0.162)!important;
}

.button-list {
  padding-top: 10px;
  max-height: calc(100% - 70px);
  overflow-y: auto;
}

.button-list button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 5px; 
}

.button-list button.selected {
  background-color: dodgerblue !important;
  color: white;
}

.apply-button-container {
  text-align: right;
  margin-top: 10px;
}

.apply-button-container button {
  display: inline-block;
  border: none;
  color: white;
  background-color: dodgerblue;
  border-radius: 10px;
  font-size: 20px;
  padding: 12px;
  margin-bottom: 5px;
}

.apply-button-container button:hover {
  background-color: rgb(13, 113, 212);
}

.close-language {
  color: #aaa;
  float: right;
  font-size: 30px;
  font-weight: bold;
}

.close-language,
.close-language {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.profile-dropdown {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
  text-align: left;
  border-radius: 15px;
}

.profile-account {
  padding: 10px 0 10px 0;
  background-color: dodgerblue;
  color: white;
  text-align: left;
  border-radius: 15px 15px 0 0;
}

.profile-account .profile{
  color: white;
  font-size: 30px;
}

.profile-dr-content a {
  color: black;
  padding: 5px !important;
  margin: 7px;
  text-decoration: none;
  display: block;
}

.profile-dropdown.show {
  display: block;
}

a.profile:hover{
  border: none;
  background-color: transparent !important;
}

.profile-dr-content a:hover {
  background-color: rgba(14, 2, 2, 0.162)!important;
}

.dropdown-navbar:hover .profile-dropdown {
  display: block;
  margin-right: 20px;
}