.edit-profile-main-content {
    margin-right: 120px;
}

.tab-edit-profile {
    border-bottom: 1px solid black;
}

.tab-edit-profile button {
    background: none;
    border: none;
    font-size: 20px;
}

.tab-edit-profile button.active {
    border-bottom: 1px solid dodgerblue;
    color: dodgerblue;
}

.edit-tab-content {
    display: none;
    margin-top: 20px;
    padding: 6px 0;
    border-top: none;
  }

.personal-data {
    background-color: white;
    padding: 15px 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.personal-label {
    display: block;
    padding: 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.354);
}

.personal-label p {
    font-size: 25px;
    font-weight: 500;
    flex-direction: column;
}

.personal-input {
    padding:10px
}

.personal-data span {
    font-size: 20px;
    color: rgb(105, 104, 104);
}

.personal-data input {
    width: 100%;
    font-size: 20px;
}

.personal-data select {
    width: 100%;
    font-size: 25px;
}

.birth-input .input-label {
    display: block;
    margin-bottom: 5px;

}

.birth-input {
    padding: 10px;
}

.birth-select {
    display: flex;
    justify-content: space-between;

}

.birth-select select {
    width: 100%; 
    margin: 0 5px;
}

.birth-select select:first-child {
    margin-left: 0; 
}

.birth-select select:last-child {
    margin-right: 0; 
}

.edit-sbt {
    text-align: right;
    margin: 10px;
}

.edit-sbt button {
    font-size: 20px;
    font-weight: 500;
    border: none;
    background-color: dodgerblue;
    color: white;
    border-radius: 15px;
    padding: 7px 15px;
}

.edit-sbt button:hover {
    background-color: rgb(0, 107, 214);
}



/* =============================================== CHANGE PASSWORD ======================================================= */

.password-data {
    background-color: white;
    padding: 15px 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pass-label {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px 15px 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.354);
}

.pass-label button {
    font-size: 20px;
    font-weight: 500;
    border: none;
    background-color: dodgerblue;
    color: white;
    border-radius: 15px;
    padding: 5px 15px;
}

.pass-label h1 {
    align-items: center;
    font-size: 25px;
    font-weight: 500;
    flex-direction: column;
    color:black
}

.pass-input {
    padding:10px
}

.password-data span {
    font-size: 20px;
    color: rgb(105, 104, 104);
}

.password-data input {
    width: 100%;
    font-size: 20px;
}


/* =============================================== DELETE ACC ======================================================= */

.delete-acc {
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin-top: 30px;
    padding: 15px 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.del-button {
    display: flex;
    align-items: center;
    padding: 10px;
}

.del-button button {
    border: none;
    background-color: transparent;
    color: #1ba0e2;
    font-size: 20px;
    font-weight: 500;
}

.del-label h1 {
    align-items: center;
    font-size: 25px;
    font-weight: 500;
    flex-direction: column;
    color:black
}

.del-label p {
    font-size: 20px;
    color: rgb(105, 104, 104);
}